@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 16px;
}

.table {
    width: 100vw;
}

td {
    text-align: center;
}